.header {
    margin-top: 40px;
    padding-inline: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_nav_list {
    display: flex;
    gap: 66px;
    padding: 12px 21px;
    background-color: #333333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.sticky_nav {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.sticky_btn,
.sticky_logo {
    opacity: 0;
    transition: 0.5s;
}

.header_logo {
    transition: 0.5s;
    height: 40px;
}

.herder_nav_list_item a {
    font-family: 'TTTravels-Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.header_btn a {
    background-color: #577AE4;
    padding: 12px 21px;
    font-family: 'TTTravels-Medium', sans-serif;
    border-radius: 30px;
    color: white;
    transition: 0.5s;
}